---
import provisionalOgImage from "~/assets/images/provisional-og-image.png";

const title = "Elisabet Osuna - Product Designer";
const description =
    "Product designer with 6+ years of experience designing great user experiences and impactful products that help businesses grow.";
// FIXME: Add proper OG image (1200x630px) - Currently using provisional image
const image = `https://www.elisabetosuna.com${provisionalOgImage.src}`;
const siteUrl = "https://www.elisabetosuna.com";
---

<title>{title}</title>
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={siteUrl} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={image} />

<!-- Twitter -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:url" content={siteUrl} />
<meta name="twitter:title" content={title} />
<meta name="twitter:description" content={description} />
<meta name="twitter:image" content={image} />
