---
import { links } from "~/config/navigation";
import { Button } from "~/components/ui/button";
import { Download } from "@lucide/astro";
---

<nav aria-label="Main navigation">
    <!-- Branding Section -->
    <div class="p-4 pt-0">
        <p class="text-xl font-bold">Elisabet Osuna</p>
        <p class="text-muted-foreground">Product Designer</p>
    </div>

    <!-- Navigation Links -->
    <ul class="p-2">
        {
            links.map((link) => (
                <li>
                    <a
                        href={link.href}
                        class="font-semibold flex items-center p-2"
                    >
                        {link.icon && (
                            <link.icon
                                stroke-width={2.5}
                                class="w-4 h-4 mr-2"
                            />
                        )}
                        {link.label}
                    </a>

                    {link.sublinks && (
                        <ul class="ml-4">
                            {link.sublinks.map((sublink) => (
                                <li
                                    class="p-4 border-l border-muted-foreground hover:[&_span:first-child]:underline
"
                                >
                                    <a
                                        href={sublink.href}
                                        class="flex items-center justify-between "
                                    >
                                        <span>{sublink.label}</span>
                                        {sublink.tag && (
                                            <span class="text-xs text-muted-foreground">
                                                {sublink.tag}
                                            </span>
                                        )}
                                    </a>
                                </li>
                            ))}
                        </ul>
                    )}
                </li>
            ))
        }
    </ul>
    <Button className="w-full cursor-pointer">
        <a
            href="/files/cv.pdf"
            download
            class="flex items-center gap-2 font-bold"><Download />Download CV</a
        >
    </Button>
</nav>
